<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService - VISTSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://169.47.196.209/WS_SINCOV_TEST/WebServiceOVSincronizacion.asmx" binding="basicHttpBinding" bindingConfiguration="WebService - VISTSoap" contract="WSOv.WebServiceVISTSoap" name="WebService - VISTSoap" />
        </client>
    </system.serviceModel>
	<appSettings>
		<add key="UrlServiceLayer" value="https://ecs-dbs-vistony:50000/b1s/v1/" />
		<add key="CompanyName" value="B1H_VIST_PY" />
		<add key="UserName" value="APP" />
		<add key="UserPassword" value="1234" />
		<add key="UserHana" value="B1ADMIN" />
		<add key="PasswordHana" value="635kSIgVn2Uh5Q117Mxf" />
		<add key="ServerHana" value="ecs-dbs-vistony:30013" />
		<add key="ServerHana2" value="ecs-dbs-vistony:30015" />
		<add key="AWSProfileName" value="nyc3.digitaloceanspaces.com" />
		<add key="AWSAccessKey" value="6ZUPM5UC7LCD7JV2QNTT" />
		<add key="AWSSecretKey" value="FkdG9ZPPunjOcgL9U6cAiCINq+WuPQnaa1j7xieIDmg" />
		<add key="pathKey" value="SalesForceApp/Release/ec/prod/" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>